<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Your Account</h3>
        </div>
        <div class="panel-body">
          <div>
            <h4><%= @user.name %> </h4>
            <strong>email:</strong> <%= @user.email %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<center>
  <a href="http://ruby-box-131007.usw1.nitrousbox.com/new_user">New User</a>
  </center>
<br>
<center>
  <a href="http://ruby-box-131007.usw1.nitrousbox.com/user/1">Harsha Murthy</a> |
  <a href="http://ruby-box-131007.usw1.nitrousbox.com/user/2">Sandor Weisz</a> |
  <a href="http://ruby-box-131007.usw1.nitrousbox.com/user/3">Joe Breen</a> |
  <a href="http://ruby-box-131007.usw1.nitrousbox.com/user/4">Qualan Woodard</a> |
  <a href="http://ruby-box-131007.usw1.nitrousbox.com/user/5">Allan Grudsky</a>
  </center>
  